@import './variables.scss';

body {
  margin: 0;
  line-height: 20px;
  font-family: Georgia, Helvetica, Arial, sans-serif;
  color: $primaryLight;
  font-size: $fs-normal;
  background-image: url('./img/main-bg.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: $active !important;
  font-size: $fs-active;
  font-weight: bold;
}

.content {
  width: 1100px;
  margin: 20px auto 0 auto;
}

h1, h2, h3 {
  font-size: 30px;
  font-weight: normal;
}

.head {
  position: relative;
  border-top: 1px dashed #ababab;
  border-bottom: 1px dashed #ababab;
  padding: 20px 0;
  color: #000;
  text-align: center;

  &::first-letter {
    color: $active;
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
    left: 46%;
    top: -15px;
    width: 94px;
    height: 15px;
    background: url(./img/h.png) no-repeat 0 0;
  }

  &:after {
    top: auto;
    bottom: -15px;
    background-position: 0 bottom;
  }
}

.markdown {
  a {
    color: $active;
  }
}