@import './variables.scss';

body {
  margin: 0;
  font-family: Georgia, Helvetica, Arial, sans-serif;
  color: $primaryLight;
  font-size: $fs-normal;
  background-image: url('./img/main-bg.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active {
  color: $active !important;
  font-size: $fs-active;
  font-weight: bold;
}